;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 576
;cavern name de "Unter dem Steinbock"
;cavern name pl "Pod Koziorożcem"
;cavern part de ""
;cavern part pl ""

;file date 2025-05-31
;file team "Karol Makowski"

*case preserve
*begin 576-Unter_dem_Steinbock

*cs UTM33N
*declination auto	352635.012	5265718.092	2083.1

;#FIX	0	E13:02.5338	N47:31.69032	2083.1m	;dm 	(koordynaty z SAGIS)
;*fix	0	352635.012	5265718.092	2083.1	;GPS Location UTM
*entrance 01-eingang	; Main Entrance


*include 20220727-Pod_Koziorozcem\podkozio.svx


*equate 01-eingang	Pod_Koziorozcem.0	; Main Entrance


*end 576-Unter_dem_Steinbock