;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 572
;cavern name de "Querhöhle"
;cavern name pl "Jaskinia Poprzeczna"
;cavern part de ""
;cavern part pl ""

;file date 2025-05-27
;file team "Karol Makowski"

*case preserve
*begin 572-Querhohle

*cs UTM33N
*declination auto	352932.991	5265228.121	2101

*entrance 01-eingang
*entrance 02-eingang
*entrance 03-eingang


*include 20210816-Poprzeczna\Poprzecz.svx


*equate 01-eingang	Poprzeczna.1_0	; entrance 01
*equate 02-eingang	Poprzeczna.4_6	; entrance 02
*equate 03-eingang	Poprzeczna.16_3	; entrance 03


*end 572-Querhohle