;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 484
;cavern name de "Neuhauserschacht"
;cavern name pl ""
;cavern part de ""
;cavern part pl ""

;file date 2025-05-04
;file team "Karol Makowski"

*case preserve

*begin 484-Neuhauserschacht
*title "<add a title>"

*cs UTM33N
*declination auto	356504.807	5267643.169	1601	;GPS Location UTM of entrance for automatic declination calculation
;*declination 1.8 degrees

*entrance 01-eingang

*include 484N.svx


*equate 01-eingang	484N.a484	; entrance 01

*end 484-Neuhauserschacht