;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 579
;cavern name de "Vorderer Kragenkopf Eishöhle"
;cavern name pl ""
;cavern part de ""
;cavern part pl ""

;file date 2025-06-01
;file team "Karol Makowski"

*case preserve
*begin 579-Vorderer_Kragenkopf_Eishohle


*entrance 01-eingang
*entrance 02-eingang

*include 20230808-Vorderer_Kragenkopf_Eishohle\Vorderer_Kragenkopf_Eishohle.svx	; otwor


*equate 01-eingang	Vorderer_Kragenkopf_Eishohle.0		; entrance 01
*equate 02-eingang	Vorderer_Kragenkopf_Eishohle.6_3		; entrance 01


*end 579-Vorderer_Kragenkopf_Eishohle