;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 503
;cavern name de "Biwakko"
;cavern name pl ""
;cavern part de ""
;cavern part pl ""

;file date 2025-05-16
;file team "Karol Makowski"

*case preserve
*begin 503-Biwakko

*cs UTM33N
*declination auto	353243.967	5266163.661	1932

*entrance 01-eingang


*include 20140813-Biwakko\BIWAK.svx	; Biwakko


*equate 01-eingang	biwakko.1_0	; entrance 01


*end 503-Biwakko