;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 485
;cavern name de "A4-3"
;cavern name pl ""
;cavern part de ""
;cavern part pl ""

;file date 2025-05-04
;file team "Karol Makowski"

*case preserve

*begin 485-A4-3

*cs UTM33N
*declination auto	352089.073	5266654.824	2007	;GPS Location UTM of entrance for automatic declination calculation

*entrance 01-eingang

*include 485A4-3P.svx


*equate 01-eingang	485A4-3P.a403-0	; entrance 01
*end 485-A4-3
