;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 426
;cavern name de "Geröllheimer"
;cavern name pl ""
;cavern part de ""
;cavern part pl ""

;file date 2024-07-28
;file team "Karol Makowski"

*case preserve

*begin 426-Gerollheimer

*cs UTM33N
*declination auto	352753.149	5265514.358	2052

*entrance 01-eingang

*include geroll.svx
*equate 01-eingang	g1.ger	; entrance 01

*end 426-Gerollheimer