;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 479
;cavern name de "Kastanienhöhle"
;cavern name pl "Kasztanowa"
;cavern part de ""
;cavern part pl ""

;file date 2024-07-28
;file team "Karol Makowski"

;source file: 479SYFO.SRV
*case preserve

*begin 479SYFO
*title "Syfony"

;*cs UTM33N
;*declination auto	352738.258	5266915.875	1970	;GPS Location UTM of entrance for automatic declination calculation
;*declination 1.8

*date 2003.08.03

*team "Dariusz Bartoszewski" notes pictures ;(sketch Notes)
*team "Maja Juniewicz" instruments ;(Freiberg, tape)
*instrument tape "tape"
*instrument compass "Freiberg <id>"
*instrument clino "Freiberg <id>"

*units tape backtape meters
*units compass backcompass degrees
*units clino backclino degrees

;Freiberg
;Dariusz Bartoszewski (book), Maja Juniewicz (instruments, tape)

*data normal from to tape compass clino ignoreall

s0	s0_1	3.5	0.0	-90.0
a20	a20_1	3.6	0.0	-90.0
a20	s0	20.58	31.3	0.0
*end 479SYFO
