;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 573
;cavern name de "Widerspenstige Höhle"
;cavern name pl "Przekorna Studnia"
;cavern part de ""
;cavern part pl ""

;file date 2025-05-27
;file team "Karol Makowski"

*case preserve
*begin 573-Widerspenstige_Hohle

*cs UTM33N
*declination auto	353083.641	5266226.997	1973

*entrance 01-eingang


*include 20210812-Przekorna_Studnia\przekorn.svx


*equate 01-eingang	Przekorna_Studnia.1_0	; entrance 01


*end 573-Widerspenstige_Hohle