;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 493
;cavern name de "Eisschrank"
;cavern name pl "Lodówka"
;cavern part de ""
;cavern part pl ""

;file date 2025-05-07
;file team "Karol Makowski"

;source file: 493LOPK.SRV
*case preserve

*begin 493LOPK
*title "<add a title>"

;*cs UTM33N
;*declination auto	352609.751	5266796.793	1985	;GPS Location UTM of entrance for automatic declination calculation
;*declination 2.1 degrees

*entrance ld0

*date 2006.08.21

*team "Dariusz Bartoszewski" ;unknown_role
*team "Rados³aw Paternoga" ;unknown_role

*instrument tape "? <id>"
*instrument compass "? <id>"
*instrument clino "? <id>"

*units tape backtape meters
*units compass backcompass degrees
*units clino backclino degrees

;#NOTE	ld0	/Lodowka Eisschrank A3-86 [493]
;#FLAG	ld0	/GPS Location
;#FIX	ld0   E13:02.492  N47:32.272  1985m     ;dm


*data normal from to tape compass clino ignoreall

ld0	l2	12.24	50.0	-22.0
l2	l3	6.65	125.0	-15.0
l3	l4	1.4	0.0	-90.0
l4	l5	4.1	130.0	-12.0
l5	l6	7.2	183.0	-20.0
*end 493LOPK
