;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 502
;cavern name de "Schattenhöhle"
;cavern name pl ""
;cavern part de ""
;cavern part pl "Jaskinia Cienia"

;file date 2024-07-30
;file team "Karol Makowski"

*case preserve
*begin 502-Schattenhohle

*cs UTM33N
*declination auto	353589.950	5266727.927	1886.36

*entrance 01-eingang


*include 20120816-Shadow\120816SH.svx	; Shadow


*equate 01-eingang	Shadow.sh	; entrance 01


*end 502-Schattenhohle