;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 421
;cavern name de "Tschikpausenhöhle"
;cavern name pl ""
;cavern part de ""
;cavern part pl ""

;file date 2025-04-25
;file team "Karol Makowski"

*case preserve

*begin 421-Tschikpausenhohle

*cs UTM33N
;*cs out UTM33N

*declination auto	354452.013	5266539.329	1950

*entrance 01-eingang

*include na1\na1.svx

*equate 01-eingang	na1.t1		; entrance 01

*end 421-Tschikpausenhohle
