*case preserve
*begin 421-Tschikpausenhohle

*cs UTM33N
;*cs out UTM33N

*declination auto	354452.013	5266539.329	1950

*entrance 01-eingang

*include na1\na1.svx

*equate 01-eingang	na1.t1		; entrance 01

*end 421-Tschikpausenhohle
