;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 574
;cavern name de "Höhle mit Spiegeln"
;cavern name pl "Jaskinia z lustami"
;cavern part de ""
;cavern part pl ""

;file date 2025-05-27
;file team "Karol Makowski"

*case preserve
*begin 574-Hohle_mit_Spiegeln

*cs UTM33N
*declination auto	352617.699	5265818.017	2086

;#FIX	1_0	E13:02.518	N47:31.744	2086m	;dm
;*fix	1_0	352617.699	5265818.017	2086	;GPS Location UTM
*entrance 01-eingang	; Main Entrance
*entrance 02-eingang	; Entrance 2
*entrance 03-eingang	; Entrance 3
*entrance 04-eingang	; Entrance 4
*entrance 05-eingang	; Entrance 5
*entrance 06-eingang	; Entrance 6
*entrance 07-eingang	; Entrance 7

*include 20210813-Z_lustrami\lustra.svx


*equate 01-eingang	Z_lustrami.1_0	; Main Entrance
*equate 02-eingang	Z_lustrami.2_0	; Entrance 2
*equate 03-eingang	Z_lustrami.1_11	; Entrance 3
*equate 04-eingang	Z_lustrami.1_20	; Entrance 4
*equate 05-eingang	Z_lustrami.1_22	; Entrance 5
*equate 06-eingang	Z_lustrami.1_29	; Entrance 6
*equate 07-eingang	Z_lustrami.1_31	; Entrance 7


*end 574-Hohle_mit_Spiegeln