;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 581
;cavern name de "Warme Höhle"
;cavern name pl "Ciepła"
;cavern part de ""
;cavern part pl ""

;file date 2025-04-25
;file team "Karol Makowski"


*case preserve
*begin 581-Warme_Hohle

*cs UTM33N
*declination auto	352214.76	5266645.01	1970	;GPS Location UTM (Locus)

*entrance 01-eingang
	
*include Ciepla01\Ciepla01.svx	; otwor
*include Ciepla02\Ciepla02.svx	; 2-ga sesja
*include Ciepla03\Ciepla03.svx	; 3-cia sesja
*include Ciepla04\Ciepla04.svx	; 4-ta sesja
*include Ciepla05\Ciepla05.svx	; 5-ta sesja
*include Ciepla06\Ciepla06.svx	; 6-ta sesja (kontynuacja Studni z Paskiem)
*include Ciepla07\Ciepla07.svx	; 7-ta sesja
*include Ciepla08\Ciepla08.svx	; 8-ta sesja (kontynuacja kontynuacji Studni z Paskiem)
*include Ciepla09\Ciepla09.svx	; 9-ta sesja (Big gay do Ciekawej)
*include Ciepla10\Ciepla10.svx	; 10-ta sesja (Meander nad studnią)
*include Ciepla11\Ciepla11.svx	; 11-ta sesja (Stara rura)
*include Ciepla12\Ciepla12.svx	; 12-ta sesja (Studnia za błotym przełazem)
*include Ciepla13\Ciepla13.svx	; 13-ta sesja (FM)
*include Ciepla14\Ciepla14.svx	; 14-ta sesja (Za Studnią z Muszlą)
*include Ciepla15\Ciepla15.svx	; 15-ta sesja (Partie Ironman)
*include Ciepla16\Ciepla16.svx	; 16-ta sesja (Sala z wielkim głazem)
*include Ciepla17\Ciepla17.svx	; 17-ta sesja (Meander za studnią bez aku)
*include Ciepla18\Ciepla18.svx	; 18-ta sesja (Partie za Trzema Siostrami)
*include Ciepla19\Ciepla19.svx	; 19-ta sesja (Partie poniżej Ironmana)
*include Ciepla20\Ciepla20.svx	; 20-ta sesja (Kontynuacja meandra za studnią bez aku)
*include Ciepla21\Ciepla21.svx	; 21-ta sesja (Poniżej Shit Monster Meandra)


*equate 01-eingang	c01.0		; entrance 01
*equate c02.2	c01.13_13		; 
*equate c03.2	c02.12		; 
*equate c04.1	c03.11		; 
*equate c05.2	c04.19_2		; 
*equate c06.18	c01.16		; kontynuacja Studni z Paskiem
*equate c07.1	c04.21		; 
*equate c08.2	c06.0		; kontynuacja kontynuacji Studni z Paskiem
*equate c09.5_4	c04.17		; Big Gay do Ciekawej
*equate c10.3	c04.22		; Meander nad studnią
*equate c10.13_2_10	c10.13		; zamknięcie izolowanej pętli
*equate c11.3	c10.13_2_5	; 
*equate c12.2	c11.7		; 
*equate c13.0	c12.2_6		; 
*equate c14.2	c08.5		; 
*equate c15.0	c13.8_7_14	; 
*equate c16.2	c13.8_7_10	; 
*equate c17.12	c14.13_3_7	; 
*equate c18.0	c10.13_3		; 
*equate c18.2_6	c10.8		; zamknięcie pętli
*equate c19.1	c15.6		; 
*equate c20.2	c17.9		; 
*equate c21.12	c19.51		; 

*end 581-Warme_Hohle