*cs UTM33N
*cs out UTM33N

*declination auto 353012.571	5264558.541	2136.0

*include 578.svx		; otwor
;*fix	578-Hohle_unter_den_Felsbrucken.01-eingang	0	0	0
*fix	578-Hohle_unter_den_Felsbrucken.01-eingang	353012.571	5264558.541	2136.0	;GPS Location UTM (koordynaty i wysokość ze smartfona)