;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 491
;cavern name de "Höhle in Roten Steinen"
;cavern name pl "W Czerwonych Kamieniach"
;cavern part de ""
;cavern part pl "26nc6w2a"

;file date 2025-04-27
;file team "Karol Makowski"

*case preserve

*begin 26
*title "26nc6w2a"

;*cs UTM33N
;*declination auto	353593.236	5266477.383	1880	;GPS Location UTM of entrance for automatic declination calculation
;*declination 2.0 degrees

*date 2005.08.16	;bledna data

*team "Name Surname" notes pictures ;(sketch <device/app>)
*team "Name Surname" instruments
*team "Name Surname" station ;(Spray or nail polish)

*instrument tape "? <id>"
*instrument compass "? <id>"
*instrument clino "? <id>"

*units tape backtape meters
*units compass backcompass degrees
*units clino backclino degrees

*data normal from to tape compass clino ignoreall
TS_04	TT1	1.98	113.00	-51.00
TT1	TT2	2.05	25.00	-52.00
TT2	TT3	3.91	21.00	-76.00
TT3	TT4	5.60	125.00	-70.00

*end 26