*begin Zimny_Meander

*include 21zimnM1\zimnyMN.svx
*include 21zimnM2\zimnyMN2.svx
*include 22zimnM3\zimnyMN3.svx
*include 22zimnM4\zimnyMN4.svx


*equate Zimny_Meander_2.22	Zimny_Meander_1.22
*equate Zimny_Meander_3.2	Zimny_Meander_2.51
*equate Zimny_Meander_4.3	Zimny_Meander_3.20_18

*end Zimny_Meander