;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 577
;cavern name de "Das Erste Mal"
;cavern name pl "Moj pierwszy (drugi) raz"
;cavern part de ""
;cavern part pl ""

;file date 2025-05-31
;file team "Karol Makowski"

*case preserve
*begin 577-Das_Erste_Mal

*cs UTM33N
*declination auto	352635.012	5265718.092	2083.1

;#FIX	0	352651.14	5266813.91	1978.1	;UTM zone 33N (zweryfikowane w SAGIS przez Marka Wierzbowskiego)
;*fix	0	352651.14	5266813.91	1978.1	;GPS Location UTM
*entrance 01-eingang	; Main Entrance


*include 20220801-Moj_pierwszy_raz\MOJ1RAZ.svx


*equate 01-eingang	Moj_pierwszy_raz.0	; Main Entrance


*end 577-Das_Erste_Mal