;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 492
;cavern name de "Korallenhöhle"
;cavern name pl "Koralowa"
;cavern part de ""
;cavern part pl ""

;file date 2025-05-07
;file team "Karol Makowski"

;source file: 492P04A.SRV
*case preserve

*begin P04A
*title "<add a title>"

;*cs UTM33N
;*declination auto	352346.582	5266265.961	2040	;GPS Location UTM of entrance for automatic declination calculation
;*declination 2.1 degrees

*date 2006.08.21

*team "Dariusz Bartoszewski" ;unknown role
*team "Andrzej Poczobutt" ;unknown role
*team "P. Ostrowski" ;unknown role

*instrument tape "? <id>"
*instrument compass "? <id>"
*instrument clino "? <id>"

*units tape backtape meters
*units compass backcompass degrees
*units clino backclino degrees

;#NOTE	p04_11	/Koralowa Korallenhohle A3-8 P04 [492]
;#FLAG	p04_11	/Entrance

*data normal from to tape compass clino ignoreall

p04_9	p04_10	6.46	160.0	-30.0
p04_10	p04_11	6.85	130.0	32.0
*end P04A
