;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 571
;cavern name de "Muminshöhle"
;cavern name pl "Jaskinia Muminków"
;cavern part de ""
;cavern part pl ""

;file date 2025-05-26
;file team "Karol Makowski"

*case preserve
*begin 571-Muminshohle

*cs UTM33N
*declination auto	353386.192	5264677.783	2090

*entrance 01-eingang


*include 20210730-Muminkow\Muminkow.svx


*equate 01-eingang	Muminkow.1_0	; entrance 01


*end 571-Muminshohle