;cadastre country Austria
;cadastre state Salzburg
;cadastre masiv 1335	;Hagengebirge
;cadastre system	;
;cadastre cavern 498
;cavern name de "Maander unter dem Laschen"
;cavern name pl "Pod Kosowka"
;cavern part de ""
;cavern part pl ""

;file date 2024-07-30
;file team "Karol Makowski"

*case preserve
*begin 498-Maander_unter_dem_Laschen

*cs UTM33N
*declination auto	353229.710	5266345.648	1924

*entrance 01-eingang


*include 498PKP.svx
*equate 01-eingang	498PKP.podk	; entrance 01


*end 498-Maander_unter_dem_Laschen