;file date 2025-06-01
;file team "Karol Makowski"

*case preserve
*begin German_1

*cs UTM33N
*declination auto	352398.167	5264978.423	2081	;GPS Location UTM

*entrance 01-eingang

*include german_1\german_1.svx	; otwor


*equate 01-eingang	ger_1.1_0		; entrance 01


*end German_1